/* form styles */
body {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

h3 {
  font-size: 1.5em;
}

a:link {
  color: rgb(170, 170, 170);
}

a:visited {
  color: rgb(170, 170, 170);
}

#sidebar {
  box-sizing: border-box;
  background: center no-repeat url("./chess.jpg");
  background-size: cover;
  width: 33vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logoContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 10vh;
}

#logoPic {
  width: auto;
  height: 10em;
  filter: invert(80%);
  padding-bottom: 2em;
  margin-bottom: 0;
}

#logo {
  font-family: "Oswald", sans-serif;
  color: rgb(204, 204, 204);
  font-size: 9em;
  margin-left: -0.15em;
  padding-bottom: 0;
  margin-bottom: 0;
}

#sidebar-caption {
  color: rgb(170, 170, 170);
  margin: 0;
  padding: 1em;
}

#form-page {
  background: rgb(235, 235, 235);
  width: 67vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro {
  padding-left: 2em;
  padding-bottom: 2em;
  padding-right: 4em;
}

form {
  background: rgb(250, 250, 250);
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 50vh;
  box-shadow: 4px 4px 7px rgb(75, 75, 75);
}

label,
input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8em;
  letter-spacing: 0.17em;
}

input {
  width: 13em;
  margin-bottom: 1.2em;
}

.input-div {
  padding-left: 2em;
  margin-right: 10em;
}

#submission {
  padding-left: 2em;
  padding-top: 2em;
}

button {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25em;
  background: rgb(105, 50, 50);
  color: rgb(250, 250, 250);
}

#login:link {
  color: rgb(105, 50, 50);
}

#login:visited {
  color: rgb(105, 50, 50);
}
